
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Dơn hàng mới tạo</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Stt</th>
                                <th>Số đơn hàng</th>
                                <th>Tên khách hàng</th>
                                <th>Ngày giao</th>
                                <th>Địa chỉ</th>
                                <th>Nhóm lệnh</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>01</td>
                                <td>2100001</td>
                                <td>Nguyễn Văn A</td>
                                <td>12/11/2022</td>
                                <td>72 Lê Đức Thọ, Quận gò Vấp, TP.Hồ Chí Minh</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>2100002</td>
                                <td>Nguyễn Văn B</td>
                                <td>02/01/2022</td>
                                <td>10 Lê Văn Thọ, Quận Gò Vấp, TP.Hồ Chí Minh</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>03</td>
                                <td>2100003</td>
                                <td>Nguyễn Ngọc A</td>
                                <td>06/07/2022</td>
                                <td>Quận 1, TP.Hồ Chí Minh</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>04</td>
                                <td>2100004</td>
                                <td>Nguyễn Thi Thanh A</td>
                                <td>19/10/2022</td>
                                <td>Quận 5, TP.Hồ Chí Minh</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>05</td>
                                <td>2100005</td>
                                <td>Nguyễn Hồng C</td>
                                <td>12/11/2022</td>
                                <td>Quận 7, TP.Hồ Chí Minh</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>06</td>
                                <td>2100006</td>
                                <td>Nguyễn Văn D</td>
                                <td>12/11/2022</td>
                                <td>Quận 9, TP.Hồ Chí Minh</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>07</td>
                                <td>2100007</td>
                                <td>Nguyễn Ngọc Minh E</td>
                                <td>12/11/2022</td>
                                <td>Quận Bình Chánh, TP.Hồ Chí Minh</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>08</td>
                                <td>2100008</td>
                                <td>Trần Minh Q</td>
                                <td>12/11/2022</td>
                                <td>Quận 10, TP.Hồ Chí Minh</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>09</td>
                                <td>2100009</td>
                                <td>Võ Văn F</td>
                                <td>12/11/2022</td>
                                <td>Quận 3, TP.Hồ Chí Minh</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>21000010</td>
                                <td>Nguyễn Văn A</td>
                                <td>12/11/2022</td>
                                <td>72 Lê Đức Thọ, Quận gò Vấp, TP.Hồ Chí Minh</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>210000111</td>
                                <td>Nguyễn Văn A</td>
                                <td>12/11/2022</td>
                                <td>72 Lê Đức Thọ, Quận gò Vấp, TP.Hồ Chí Minh</td>
                                <td>
                                    <button class="btn btn-danger">Hủy đơn</button>
                                    <button class="btn btn-default">Chi tiết</button>
                                    <button class="btn btn-success">Kích hoạt</button>
                                </td>
                            </tr>

                        </tbody>
          
                    </table>
                </div>
                <!-- /.box-body -->
            </div>



        </div>
     </div>    
</section>