
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Khách hàng mới</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Tên hhách hàng</th>
                                <th>số điện thoại</th>
                                <th>Giới tính </th>
                                <th>Email</th>
                                <th>Địa chỉ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Nguyễn Văn A</td>
                                <td>
                                    0936748642
                                </td>
                                <td>Nam</td>
                                <td> nguyenvana@gmail.com</td>
                                <td>Quận 12 TP.HCM</td>
                            </tr>
                            <tr>
                                <td>Nguyễn Văn B</td>
                                <td>
                                    0963647382
                                </td>
                                <td>Nam</td>
                                <td>nguyenvanb123@gmail.com</td>
                                <td>Quận Gò Vấp TP.HCM</td>
                            </tr>
                            <tr>
                                <td>Nguyễn Thị C</td>
                                <td>
                                    0946738965
                                </td>
                                <td>Nữ</td>
                                <td>nguyenthic332@gmail.com</td>
                                <td>Quận 4 TP.HCM</td>
                            </tr>
                            <tr>
                                <td>Nguyễn Ngọc D</td>
                                <td>
                                    0964528753
                                </td>
                                <td>Nữ</td>
                                <td>nguyenngocd445@gmail.com</td>
                                <td>Quận 9 TP.HCM</td>
                            </tr>
                            <tr>
                                <td>Nguyễn Thị Á</td>
                                <td>
                                    0964528753
                                </td>
                                <td>Nữ</td>
                                <td>nguyenngocd445@gmail.com</td>
                                <td>Quận 10 TP.HCM</td>
                            </tr>
                            <tr>
                                <td>Nguyễn Thái Duy F </td>
                                <td>
                                    0964528753
                                </td>
                                <td>Nam</td>
                                <td>nguyenthaiduyfd445@gmail.com</td>
                                <td>Quận 9 TP.HCM</td>
                            </tr>
                            <tr>
                                <td>Nguyễn Đoàn Ngọc E</td>
                                <td>
                                    0964528753
                                </td>
                                <td>Nữ</td>
                                <td>nguyenngocd445@gmail.com</td>
                                <td>Quận 9 TP.HCM</td>
                            </tr>
                            <tr>
                                <td>Nguyễn Ngọc D</td>
                                <td>
                                    0964528753
                                </td>
                                <td>Nữ</td>
                                <td>nguyenngocd445@gmail.com</td>
                                <td>Quận 9 TP.HCM</td>
                            </tr>
                            <tr>
                                <td>Nguyễn Ngọc D</td>
                                <td>
                                    0964528753
                                </td>
                                <td>Nữ</td>
                                <td>nguyenngocd445@gmail.com</td>
                                <td>Quận 9 TP.HCM</td>
                            </tr>
                            <tr>
                                <td>Nguyễn Ngọc D</td>
                                <td>
                                    0964528753
                                </td>
                                <td>Nữ</td>
                                <td>nguyenngocd445@gmail.com</td>
                                <td>Quận 9 TP.HCM</td>
                            </tr>
                            <tr>
                                <td>Nguyễn Ngọc D</td>
                                <td>
                                    0964528753
                                </td>
                                <td>Nữ</td>
                                <td>nguyenngocd445@gmail.com</td>
                                <td>Quận 9 TP.HCM</td>
                            </tr>
                            <tr>
                                <td>Nguyễn Ngọc D</td>
                                <td>
                                    0964528753
                                </td>
                                <td>Nữ</td>
                                <td>nguyenngocd445@gmail.com</td>
                                <td>Quận 9 TP.HCM</td>
                            <tr>
                                <td>Nguyễn Ngọc D</td>
                                <td>
                                    0964528753
                                </td>
                                <td>Nữ</td>
                                <td>nguyenngocd445@gmail.com</td>
                                <td>Quận 9 TP.HCM</td>

                            <tr>
                                <td>Nguyễn Ngọc D</td>
                                <td>
                                    0964528753
                                </td>
                                <td>Nữ</td>
                                <td>nguyenngocd445@gmail.com</td>
                                <td>Quận 9 TP.HCM</td>
                            </tr>

                            </tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>